<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_NorthwindConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=Northwind" />
        <add name="localhost_NorthwindConnection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=Northwind" />
        <add name="NorthwindConnectionString" connectionString="XpoProvider=MSSqlServer;Data Source=(local);Initial Catalog=Northwind;Integrated Security=True" />
        <add name="(local)_NorthwindConnection" connectionString="XpoProvider=MSSqlServer;data source=(local);integrated security=SSPI;initial catalog=Northwind" />
        <add name="localhost_NorthwindConnection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=Northwind" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
